
<div class="container">


<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
          

    

           <h1 class="page-header">Search product:</h1>
           
           

          <form class="" role="search">
              <div class="form-group">
                <input ng-model="adminCtrl.searchKeyword" type="text" class="form-control" placeholder="Search">
              </div>
  
          </form> 

          

          <h2 class="sub-header"></h2>
          <div class="table-responsive">
            <table class="table table-striped"  >
              <thead >
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Serial number</th>
                  <th>Dimension</th>
                  <th>Price</th>
                 
                  <th ng-show="adminCtrl.isAdmin"></th>
                  <th ng-show="adminCtrl.isAdmin"></th>
                </tr>
              </thead>
              <tbody >
              <tr ng-repeat="item in availableProducts  | filter: adminCtrl.searchKeyword ">
               <!-- <tr ng-repeat="item in availableProducts track by $index">  -->
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.serialNumber}}</td>
                  <td>{{item.dimension}}</td>
                  <td>{{item.price}}</td>
                 
                  <td ng-show="adminCtrl.isAdmin"> <a ng-click = "adminCtrl.editItem(item.id)" class="btn btn_xs btn-warning" role="button">Edit</a> </td>
                  
                  <td ng-show="adminCtrl.isAdmin"> <button ng-click = "adminCtrl.deleteItem(item.id)" class="btn btn_xs btn-danger">Remove </button> </td>

                </tr>
                
                
              </tbody>
            </table>
          </div>
          

        </div>
    </div>