<div class="container">
      <!-- Example row of columns -->
      <div ng-show="!landCtrl.isRegistered" class="row">
        <div class="col-md-6">

        <h2 class = "razmak">
        {{landCtrl.message}} <br><br>
         {{landCtrl.message2}}

        </h2>
          
        <!--   <img src="../static/img/product_search_bg.jpg" alt="HTML5 Icon" style= "max-width:100%; max-height:100%;">  -->
       
        </div>

        <div class="col-md-6">
          <h1>Sign Up </h1>
       
           <br>
           <form name="registerForm" class="form-horizontal">

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">E-mail:</label>
                <div ng-messages="registerForm.username.$error" class="col-sm-9">
                  <input type="email" class="form-control" name="username" id="username" placeholder="Username" ng-model="landCtrl.formInfo.username" required / >
                     <div ng-messages="registerForm.username.$error" ng-if="registerForm.username.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

               <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password:</label>
                <div ng-messages="registerForm.password.$error" class="col-sm-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="landCtrl.formInfo.password" required/>
                  <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

               <div class="form-group">
                <label for="firstname" class="col-sm-3 control-label">First name:</label>
                <div ng-messages="registerForm.firstname.$error" class="col-sm-9">
                  <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" ng-model="landCtrl.formInfo.firstname" required/>
                  <div ng-messages="registerForm.firstname.$error" ng-if="registerForm.firstname.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

              <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">Last name:</label>
                <div ng-messages="registerForm.lastname.$error" class="col-sm-9">
                  <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" ng-model="landCtrl.formInfo.lastname" required/>
                  <div ng-messages="registerForm.lastname.$error" ng-if="registerForm.lastname.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

              <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Adress:</label>
                <div ng-messages="registerForm.address.$error" class="col-sm-9">
                  <input type="text" class="form-control" name="address" id="address" placeholder="Address" ng-model="landCtrl.formInfo.address" required/>
                  <div ng-messages="registerForm.address.$error" ng-if="registerForm.address.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

              <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone number:</label>
                <div ng-messages="registerForm.phoneNumber.$error" class="col-sm-9">
                  <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone number" ng-model="landCtrl.formInfo.phoneNumber" required/>
                  <div ng-messages="registerForm.phoneNumber.$error" ng-if="registerForm.phoneNumber.$dirty">
                        <div class="fill-in" ng-message="required">This field is required</div>
                     </div>
                </div>
              </div>

               
              
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" ng-click="landCtrl.saveData()" class="btn btn-success">Sign Up </button>
                </div>
              </div>

          </form>
          </div>

          <br><br>
       </div>
     

       <div class="row" ng-show="landCtrl.isRegistered">
          
           <div class="col-md-6">
               <h2 class = "razmak">
                  
                   {{landCtrl.successRegisterMessage}} <br><br>
                   {{landCtrl.successRegisterMessage2}} <br>
                   {{landCtrl.successRegisterMessage3}} <br><br>

              </h2>
            </div>

            <div class="col-md-6">
            
            </div>
      
      </div>
      
      </div>
