
<div class="container">

<!-- <div class="search-product">
  
    <h2>This is product_search page embedded in index.html</h2>
    <p>angular controller says: {{message}}</p>

    <hr>
    <div class="row">
    	<div class="col-md-4 text-center">
    		<em>Choose product category...</em>
    	</div>
    	<div class="col-md-4 text-center">
    		<em>Select product</em>
		    <div class="well row" ng-repeat="item in availableProducts track by $index">
		    	<em>{{item}}</em>
		    </div>
    	</div>
    	<div class="col-md-4 text-center">
    		<em>Choose car...</em>
    	</div>
    </div>
</div> -->

<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
          <h1 class="page-header">Shopping cart:</h1>

          <!--<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>-->

          <h2 class="sub-header"></h2>
          <div class="table-responsive">
            <table class="table table-striped"  >
              <thead >
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Serial number</th>
                  <th>Dimension</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="item in availableProducts track by $index">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.serialNumber}}</td>
                  <td>{{item.dimension}}</td>
                  <td>{{item.price}}</td>
                  <td> <a href="" class="btn btn_xs btn-danger" role="button">Remove</a> </td>
                  
                </tr>
                
                
              </tbody>
            </table>
          </div>
           <a href="/#/search" class="btn btn_xs btn-default" role="button">Return to search more products</a> 
           <a href="#/ending" class="btn btn_xs btn-success" role="button">Buy</a>

        </div>


    </div>