

<!DOCTYPE html>
<html lang="en" ng-app="carPartsApp" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Car Parts Unlimited - web-shop">
    <meta name="author" content="Matej Jemrić, Josip Kovaček">
    <link rel="icon" href="../../favicon.ico">

    <title>Car Parts Unlimited</title>

    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="static/app/app.css">
    <link href="/static/bower_components/angular-growl-v2/build/angular-growl.css" rel="stylesheet">
    


  </head>

  <body>

   
  
   <div ng-controller="loginController as loginCtrl"> 

      <nav ng-show="!loginCtrl.userLoggedIn" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Car Parts Unlimited </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right" >
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" ng-model="loginCtrl.loginData.username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" ng-model="loginCtrl.loginData.password" class="form-control">
            </div>
            <button ng-click="loginCtrl.loginUser()" type="submit" class="btn btn-primary">Log in</button>
          </form>

        </div>
      </div>
    </nav>


        
      <nav ng-show="loginCtrl.userLoggedIn" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ng-show="!loginCtrl.isAdmin" class="navbar-brand" href="/#/search">Car Parts Unlimited</a>
        <a ng-show="loginCtrl.isAdmin" class="navbar-brand" href="/#/admin">Car Parts Unlimited</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav">
        <li ng-show="!loginCtrl.isAdmin" class=""><a href="/#/search" ><i class="fa home" aria-hidden="true"></i>Products</a></li>
        <li ng-show="loginCtrl.isAdmin" class=""><a href="/#/admin" ><i class="fa home" aria-hidden="true"></i>Products</a></li>
          <li ng-show="loginCtrl.isAdmin" class=""><a href="/#/admin/addNewItem" ><i class="" aria-hidden="true"></i>Add new item</a></li>
          <li ng-show="!loginCtrl.isAdmin" class=""><a href="/#/shop-cart" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shopping cart</a></li>

          <li><a href="#"></a></li>
          
        </ul>
        

        <form class="navbar-form navbar-right">
          <div class="form-group">
            {{loginCtrl.firstName}} {{loginCtrl.lastName}}
          </div>
         
          <div class="form-group">
            <button ng-click="loginCtrl.logoutUser()" type="submit" class="btn btn-primary">Log out</button> 

          </div>
          
        </form>
        
      </div><!-- /.navbar-collapse -->
    </nav>

    </div>

        <div id="main" class="razmak">
            <!-- this is where content will be injected -->
            <div ng-view />
        </div>


        </div>
    
    <div class="razmak" >
      <footer class="footer-fixed ">
      
        <p class="text-muted center">&copy; 2016 Car Parts Unlimited, Inc.</p>
     
    </footer>
</div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="/static/bower_components/angular/angular.js"></script>
      <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="/static/bower_components/angular-growl-v2/build/angular-growl.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/static/bower_components/angular-messages/angular-messages.js"></script>
      <script src="/static/bower_components/angular-route/angular-route.js"></script>
      <script src="/static/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
      <script src="/static/app/app.js"></script>
      <script src="/static/app/services.js"></script>
      <script src="/static/app/controllerjs/productDetails-controller.js"></script>
      <script src="/static/app/controllerjs/cart-controller.js"></script>
      <script src="/static/app/controllerjs/login-controller.js"></script>
      <script src="/static/app/controllerjs/administration-controller.js"></script>
      <script src="/static/app/controllerjs/administration-edit.js"></script>
      <script src="/static/app/controllerjs/landing-controller.js"></script>  
      <script src="/static/app/controllerjs/dropdownController.js"></script>
      
      <script src="/static/app/controllerjs/search-product-controller.js"></script>
      <script src="/static/app/controllerjs/confirm-order.js"></script>
       <!--<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

      <noscript>Please enable JavaScript to use this app.</noscript>
  </body>
</html>
